.buscador-gif {
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    align-content: center;
    align-items: center;
    margin: auto;
    .formularioBusqueda {
        border: 1px solid $color-principal;
        border-radius: 25px;
        display: flex;
        height: 30px;
    }
    body.nocturno & {
        color: white;
    }
}

.formularioBusqueda {
    width: 300px;
    justify-content: space-between;
    body.nocturno & {
        border: 1px solid white;
        .lupa1 {
            color: white;
        }
        .lupa2 {
            color: white;
        }
        .inputBusqueda {
            background-color: #37383C;
        }
    }
    .lupa1 {
        display: none;
        color: rgb(155, 153, 153);
        margin-left: 6px;
        margin-top: 4px;
    }
}

.lupa2 {
    color: $color-principal;
    margin-right: 6px;
    margin-top: 4px;
}

.inputBusqueda {
    outline: none;
    margin-left: 13px;
    width: 220px;
    border: none;
}

.tituloGifos {
    margin: 0;
    text-align: center;
    align-content: center;
    width: 280px;
    font-family: Montserrat, bold;
    span {
        color: rgb(0, 255, 191);
    }
}

.divTrending {
    display: flexbox;
    flex-direction: column;
    text-align: center;
    .trendingTt {
        text-align: center;
        margin-top: 80px;
        align-self: center;
        align-items: center;
    }
}

.imagenPrincipal {
    max-width: 65%;
    height: auto;
}

@media (min-width: 1024px) {
    .imagenPrincipal {
        max-width: 40%;
    }
    .formularioBusqueda {
        width: 480px;
    }
}

@media (min-width: 768px) {
    .tituloGifos {
        width: 380px;
    }
}