* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: white;
    color: $color-principal;
    &.nocturno {
        background-color: #37383C;
    }
}

ul {
    body.nocturno & {
        background-color: #0f0f0f;
        color: white;
    }
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}